<form id="settingsForm">
	<div class='row-fluid'>
		<div class='start-stop span4'>
			Host:
		</div>
		<div class='remove span4 text-right'>
			<input type="text" class="form-control" id="APP_HOST" value="{{APP_HOST}}" />
		</div>
	</div>
	<div class='row-fluid'>
		<div class='start-stop span4'>
			TorrentJS App Port:
		</div>
		<div class='remove span4 text-right'>
			<input type="text" class="form-control" id="APP_PORT" value="{{APP_PORT}}" />
		</div>
	</div>
	<div class='row-fluid'>
		<div class='start-stop span4'>
			Transmission Port:
		</div>
		<div class='remove span4 text-right'>
			<input type="text" class="form-control" id="TRANSMISSION_PORT" value="{{TRANSMISSION_PORT}}" />
		</div>
	</div>
	<div class='row-fluid'>
		<div class='start-stop span4'>
			XBMC RPC Port:
		</div>
		<div class='remove span4 text-right'>
			<input type="text" class="form-control" id="XBMC_PORT" value="{{XBMC_PORT}}" />
		</div>
	</div>
	<div class='row-fluid'>
		<div class='start-stop span4'>
			XBMC Username:
		</div>
		<div class='remove span4 text-right'>
			<input type="text" class="form-control" id="XBMC_USER" value="{{XBMC_USER}}" />
		</div>
	</div>
	<div class='row-fluid'>
		<div class='start-stop span4'>
			XBMC Password:
		</div>
		<div class='remove span4 text-right'>
			<input type="password" class="form-control" id="XBMC_PASS" value="{{XBMC_PASS}}" />
		</div>
	</div>
</form>
